In [1]:
import pandas as pd

In [6]:
# 데이터의 값이 한글일 경우 encoding='CP949'

popu = pd.read_csv("../csv/주민등록 인구 및 세대현황.csv", encoding='CP949')

popu.head(1)

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25