변수
- 데이터를 저장하는 공간

함수
- 지정된 동작을 실행하여 결과값을 보여준다

클래스
- 속성 + 메소드
- 속성 -> 변수
- 메소드 -> 함수

In [13]:
class Class_1:
    def __init__(self, _a = None, _b = None):         
        ## 클래스가 선언이될 때 실행이 되는 함수 
        ## -> 인자의 값을 받아와서 클래스 안에 self.변수를
        ## 만들어주는 과정
        ## 인자 값을 받을 필요가 없으면 init 함수를 삭제해도 된다.
        self.a = _a
        self.b = _b                     
    
    def change(self, _a, _b):   
        ## 인자값을 2개 받아오는 함수 
        ## _a에 들어오는 인자값을 self.a 변수로 받는다
        ## _b에 들어오는 인자값을 self.b 변수로 받는다

        self.a = _a
        self.b = _b
    
    def func_1(self):
        ## self.a, self.b를 되돌려준다.
        return self.a, self.b
    
test = Class_1()
## 클래스를 선언 할 때 인자값이 2개가 필요하지만 해당 매개변수의 기본값이
## 지정이 되있으므로 인자값을 넣지 않아도 클래스 선언이 된다. 

print(test.func_1())
## print -> None, None

test.change("test", "test2")
print(test.func_1())
## print -> "test", "test2"

(None, None)
('test', 'test2')

In [14]:
import datetime

In [15]:
format = '%Y-%m-%d %H:%M:%S'
datetime_str = '2022-06-08 09:37:10'

print(datetime_str)
print(format)

2022-06-08 09:37:10
%Y-%m-%d %H:%M:%S

In [16]:
datetime_dt = datetime.datetime.strptime(datetime_str, format)

print(datetime_dt)
print(type(datetime_dt))

2022-06-08 09:37:10
<class 'datetime.datetime'>

In [17]:
datetime.date.today()

datetime.date(2022, 6, 8)

In [18]:
datetime_strf = datetime_dt.strftime(format)

print(datetime_strf)
print(type(datetime_strf))

2022-06-08 09:37:10
<class 'str'>

In [19]:
datetime_strf = datetime_dt.strftime('%Y/%m/%d')

print(datetime_strf)
print(type(datetime_strf))

2022/06/08
<class 'str'>

datetime format
- %y -> 년도를 축약 표기 ('22')
- %Y -> 년도 전체를 표기 ('2022')
- %b -> 월을 축약 이름 표기 ('Mar')
- %B -> 월 전체 표기 ('March')
- %m -> 월 숫자 표기 ('06')
- %d -> 일 숫자 표기 ('08')
- %H -> 24시 기준 표기 
- %I -> 12시 기준 표기
- %S -> 초 표기
- $p -> AM / PM 표기
- %a -> 요일 이름 축약 표기 ('Fri')
- %A -> 요일 이름 전체 표기 ('Friday')
- %w -> 요일 숫자 표기 (일 : 0, 월 : 1, ... 토 : 6)

In [20]:
import pandas as pd

In [23]:
pd.Timestamp(0)     ## 0 기본적으로는 나노 초
                    ## 1970년 1월 1일 기준

Timestamp('1970-01-01 00:00:00')

In [27]:
pd.Timestamp(100, unit='D') ## unit='D' -> 날짜를 기준으로 변경

Timestamp('1970-04-11 00:00:00')

In [28]:
pd.Timestamp('2022-06-08')

Timestamp('2022-06-08 00:00:00')

In [29]:
pd.Timestamp('2022-06')

Timestamp('2022-06-01 00:00:00')

In [30]:
pd.to_datetime("2022-1-1 12")

Timestamp('2022-01-01 12:00:00')

In [31]:
pd.to_datetime(["2022-1-1", '2022-6-8'])

DatetimeIndex(['2022-01-01', '2022-06-08'], dtype='datetime64[ns]', freq=None)

In [32]:
pd.date_range('2022-01-01', '2022-06-08')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-05-30', '2022-05-31', '2022-06-01', '2022-06-02',
               '2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06',
               '2022-06-07', '2022-06-08'],
              dtype='datetime64[ns]', length=159, freq='D')

In [34]:
pd.Period('2019-01')

Period('2019-01', 'M')

In [35]:
pd.Period('2022-01', freq="D")

Period('2022-01-01', 'D')

In [36]:
pd.date_range('2022-01-01', '2022-6-8', freq='M')

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31'],
              dtype='datetime64[ns]', freq='M')

In [40]:
p = pd.Period('2022-6-8')
print(p.start_time)
print(p.end_time)

2022-06-08 00:00:00
2022-06-08 23:59:59.999999999

In [41]:
p2 = pd.Timestamp('2022-6-8 12:00:00')
p.start_time < p2 < p.end_time

True

In [45]:
pd.Timedelta("1 days 01:00:00")

Timedelta('1 days 01:00:00')

In [49]:
pd.Timestamp('2022-6-8') + pd.Timedelta("-1 days 2 hours")

Timestamp('2022-06-06 22:00:00')

In [50]:
pd.Timedelta(1, unit="d")

Timedelta('1 days 00:00:00')

In [51]:
pd.Timedelta(days = 1, seconds = 30)

Timedelta('1 days 00:00:30')

In [52]:
import pandas as pd
import numpy as np

In [54]:
s1 = pd.Series([1, np.nan, 3, 4, 5])
s2 = pd.Series([1, 2, np.nan, 4, 5])
s3 = pd.Series([1, 2, 3, np.nan, 5])

df = pd.DataFrame({'S1' : s1,
                   'S2' : s2,
                   'S3' : s3})

df

    S1   S2   S3
0  1.0  1.0  1.0
1  NaN  2.0  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0

In [55]:
df.isna()

      S1     S2     S3
0  False  False  False
1   True  False  False
2  False   True  False
3  False  False   True
4  False  False  False

In [56]:
df.isna().sum()

S1    1
S2    1
S3    1
dtype: int64

In [57]:
df.dropna(axis=0)
## axis 속성의 값을 통해서 행을 삭제할지 열을 삭제할지 정한다.
## 0 -> 행, 1 -> 열

    S1   S2   S3
0  1.0  1.0  1.0
4  5.0  5.0  5.0