## 3번 문제

1. num_3 폴더의 csv 파일을 데이터프레임으로 불러온다. 
2. uselog를 제외한 3개의 데이터 프레임을 조인 결합 후 결측치를 확인한다. 
3. 고객의 데이터를 'class_name', 'campaign_name', 'gernder', 'is_deleted'별 집계를 출력한다. 
4. 3번 과정과 같은 작업을 2019년 01월 01일부터 최근의 고객 데이터를 출력한다.
5. 월별 'costomer_id' 이용 이력 데이터를 집계하여 출력한다. 
6. 이용 이력 데이터를 통하여 요일별 이용 여부를 계산하고 이용 여부가 4회 이상이면 1 아니면 0인 컬럼을 추가한다. 3
7. 'end_date' 컬럼을 복사하여 'calc_date' 컬럼을 추가하고 결측데이터를 '20090430'로 변경한다. 
8. 회원의 기간을 계산하여 컬럼을 추가한다.

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
# 1. num_3 폴더의 csv 파일을 데이터프레임으로 불러온다. 

campaign = pd.read_csv("./num_3/campaign_master.csv")
classm = pd.read_csv("./num_3/class_master.csv")
customer = pd.read_csv("./num_3/customer_master.csv")
use = pd.read_csv("./num_3/use_log.csv")

In [22]:
campaign.head(2)

  campaign_id campaign_name
0         CA1          2_일반
1         CA2     0_입회비반액할인

In [23]:
classm.head(2)

  class class_name  price
0   C01       0_종일  10500
1   C02       1_주간   7500

In [24]:
customer.head(2)

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted
0,OA832399,XXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0
1,PL270116,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0

In [25]:
# 2. uselog를 제외한 3개의 데이터 프레임을 조인 결합 후 결측치를 확인한다. 
# campaign, customer 결합

cc_join = pd.merge(customer, classm, on="class", how = "left") 

cc_join.head(2)

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted,class_name,price
0,OA832399,XXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0,0_종일,10500
1,PL270116,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0,0_종일,10500

In [26]:
# cc_join에 classm 결합

ccc_join = pd.merge(cc_join, campaign, on="campaign_id", how = "left")

ccc_join.head(2)

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted,class_name,price,campaign_name
0,OA832399,XXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0,0_종일,10500,2_일반
1,PL270116,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0,0_종일,10500,2_일반

In [27]:
ccc_join.isna().sum()

customer_id         0
name                0
class               0
gender              0
start_date          0
end_date         2842
campaign_id         0
is_deleted          0
class_name          0
price               0
campaign_name       0
dtype: int64

In [28]:
# 3. 고객의 데이터를 'class_name', 'campaign_name', 'gender', 'is_deleted'별 집계를 출력한다. 

ccc_join.groupby("class_name").count()["customer_id"]

class_name
0_종일    2045
1_주간    1019
2_야간    1128
Name: customer_id, dtype: int64

In [29]:
ccc_join.groupby("campaign_name").count()["customer_id"]

campaign_name
0_입회비반액할인     650
1_입회비무료       492
2_일반         3050
Name: customer_id, dtype: int64

In [30]:
ccc_join.groupby("gender").count()["customer_id"]

gender
F    1983
M    2209
Name: customer_id, dtype: int64

In [31]:
ccc_join.groupby("is_deleted").count()["customer_id"]

is_deleted
0    2842
1    1350
Name: customer_id, dtype: int64

In [10]:
ccc_join["start_date"] = pd.to_datetime(ccc_join["start_date"])

ccc_join["start_date"]

0      2015-05-01
1      2015-05-01
2      2015-05-01
3      2015-05-01
4      2015-05-01
          ...
4187   2018-12-13
4188   2018-12-13
4189   2018-12-14
4190   2018-12-14
4191   2018-12-14
Name: start_date, Length: 4192, dtype: datetime64[ns]

In [33]:
ccc_join["end_date"] = pd.to_datetime(ccc_join["end_date"])

In [11]:
# 4. 3번 과정과 같은 작업을 2019년 01월 01일부터 최근의 고객 데이터를 출력한다.

ccc_join.query("start_date >= '2019-01-01'")

,campaign_id,campaign_name,customer_id,name,class,gender,start_date,end_date,is_deleted,class_name,price
1369,CA1,2_일반,OA106766,XXXXX,C01,F,2019-01-01,NaN,0,0_종일,10500
1370,CA1,2_일반,IK283032,XXXX,C01,M,2019-01-01,NaN,0,0_종일,10500
1371,CA1,2_일반,AS333662,XXXXX,C01,F,2019-01-02,NaN,0,0_종일,10500
1372,CA1,2_일반,OA866679,XXXXXX,C01,M,2019-01-02,NaN,0,0_종일,10500
1373,CA1,2_일반,OA901027,XXX,C01,M,2019-01-02,NaN,0,0_종일,10500
...,...,...,...,...,...,...,...,...,...,...,...
3912,CA1,2_일반,IK947853,XXXXX,C02,F,2019-03-09,NaN,0,1_주간,7500
3913,CA1,2_일반,OA301090,XX,C02,F,2019-03-12,NaN,0,1_주간,7500
3914,CA1,2_일반,OA643695,XXXXX,C02,F,2019-03-12,NaN,0,1_주간,7500
3915,CA1,2_일반,HD522396,XXXXXX,C02,F,2019-03-13,NaN,0,1_주간,7500
3916,CA1,2_일반,IK692635,XXXXX,C02,F,2019-03-15,NaN,0,1_주간,7500

In [12]:
# 5. 월별 'customer_id' 이용 이력 데이터를 집계하여 출력한다. 
# ccc_join의 index를 start_date의 datetime으로 설정하고,
# 설정된 index의 month별로 그룹화

ccc_join.index = pd.to_datetime(ccc_join["start_date"])

ccc_join.groupby(ccc_join.index.month).sum()["customer_id"]

KeyError: 'customer_id'

In [ ]:
# 6. 이용 이력 데이터를 통하여 요일별 이용 여부를 계산하고 이용 여부가 4회 이상이면 1 아니면 0인 컬럼을 추가한다.