In [ ]:
# pip install pymysql

In [20]:
import pymysql
import pandas as pd

In [21]:
_db = pymysql.connect(
    user = 'root',
    passwd = '0000',
    host = 'localhost',
    db = 'ubion4',
    port = 3306             # mysql의 기본 포트 번호
)

In [22]:
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [24]:
sql = """SELECT createDt as 날짜, deathCnt as 누적사망자, 
         decideCnt as 누적확신자
         FROM corona ORDER BY createDt LIMIT 10 """

cursor.execute(sql)
result = cursor.fetchall()
# print(result)

df_result = pd.DataFrame(result)
df_result

                        날짜  누적사망자  누적확신자
0  2020-03-10 00:00:00.000     54   7513
1  2020-03-11 00:00:00.000     60   7755
2  2020-03-12 00:00:00.000     66   7869
3  2020-03-13 00:00:00.000     67   7979
4  2020-03-14 00:00:00.000     72   8086
5  2020-03-15 00:00:00.000     75   8162
6  2020-03-16 00:00:00.000     75   8236
7  2020-03-17 00:00:00.000     81   8320
8  2020-03-18 00:00:00.000     84   8413
9  2020-03-19 00:00:00.000     91   8565

In [26]:
sql = """INSERT INTO test(id, password, name, phone) values (%s, %s, %s, %s)"""
values = ["test3", "1234", "kim", "01089896767"]

cursor.execute(sql, values)
_db.commit()

In [32]:
_id = input("ID : ")
_pw = input("password : ")
_name = input("name : ")
_phone = input("phone : ")

values = [_id, _pw, _name, _phone]
cursor.execute(sql, values)
_db.commit()

In [51]:
### update문 -> input 2개 ID, password
### update문 구조, password 변경. where id == input()
### sql문 values 지정을 해서 execute commit 코드를 작성

sql = """UPDATE test set password = %s where id = %s"""

_id = input("ID : ")
_pw = input("password : ")

values = [_pw, _id]

cursor.execute(sql, values)
_db.commit()

In [56]:
sql = """ SELECT %s and %s from test """

_id = input("ID column : ")
_pw = input("password column : ")

values = [_id, _pw]
cursor.execute(sql, values)

_db.commit()

In [59]:
sql = """DELETE from test where ID = %s"""

_id = input("ID : ")

values = [_id]
cursor.execute(sql, values)

_db.commit()