In [1]:
a = 7
b = 3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [2]:
## a += b --> a + b

a += 3
print(a)

10

In [3]:
a -= 3
print(a)

7

In [4]:
a *= 3
print(a)

21

In [5]:
a /= 3
print(a)

7.0

In [6]:
print(a+b)

10.0

In [7]:
a = 10
b = 20

In [8]:
print(a == b, a != b, a > b, a >= b, a < b, a <= b)

False True False False True True

In [9]:
a = 25
( a > 30) and (a < 50)

False

In [10]:
( a > 30) or (a < 50)

True

In [11]:
not(a == 25)

False

In [12]:
not(a == 30)

True

In [13]:
## if문 조건식이 참인경우 if 아래에 들여쓰기가 되어있는 코드를 실행
## 거짓인 경우에는 실행이 되지 않습니다.
## else라는 구문이 존재하면 조건식이 거짓인 경우 else 아래에 들여쓰기가
## 되어있는 코드가 실행.

a = 20

if a < 10 :
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [23]:
score = int(input("점수를 입력하세요 : "))

if score >= 90 : 
    print("A")
elif score >= 80 : 
    print("B")
elif score >= 70 : 
    print("C")
elif score >= 60 : 
    print("C")
else : 
    print("F")

print("당신의 점수는 " + str(score) + "점입니다.")

F
당신의 점수는 55점입니다.

In [25]:
for i in range(0, 5, 1):
    print("%d 번째, 반복입니다. " %i)

0 번째, 반복입니다.
1 번째, 반복입니다.
2 번째, 반복입니다.
3 번째, 반복입니다.
4 번째, 반복입니다.

In [27]:
sum = 0

for i in range(1, 11, 1) :
    sum = sum + i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [28]:
for i in range(0, 3, 1) :
    for j in range(0, 3, 1) :
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [29]:
for i in range(0, 3, 1) :
    for j in range(0, 3, 1) :
        if i == j :
            print(i, j)

0 0
1 1
2 2

1. 반복문을 이용해서 1~10까지 짝수의 값만 출력하시오
2. 반복문을 이용해서 주사위 2개를 굴렸을 때 합이 8인 경우를 출력하시오.

In [42]:
for i in range(1, 11, 1) : 
    if i%2 == 0 :
        print(i)

2
4
6
8
10

In [43]:
sum = 0
for i in range(1, 7, 1) :
    for j in range ( 1, 7, 1) :
        sum = i + j
        if sum == 8 :
            print(i,  j)

2 6
3 5
4 4
5 3
6 2

In [45]:
for i in range(2, 10, 1) :
    for j in range(1, 10, 1) : 
        print("%d X %d = %d" %(i, j, i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [46]:
sum = 0 
i = 1

while i < 11 : 
    sum += i
    i += 1
    
print(sum)

55

In [49]:
## break --> 반복분을 종료

for i in range(1, 100, 1) :
    if i == 5:
        break
    print(i)

1
2
3
4

1. 1~100까지 합을 구하는데 합계가 800이상이 되는 범위의 최초의 숫자의 값은 몇인가?

In [64]:
sum = 0
for i in range(1, 101, 1) :
    sum += i
    if sum >= 800 :             # 합이 800이상인 합
        print(i)                # 더해지는 값
        print(sum)              # 합
        break

40
820

In [65]:
## while --> 반복문으로 돌아간다.

for i in range(1, 10, 1): 
    if i <= 3:
        continue
    print(i)

4
5
6
7
8
9

In [76]:
sum = 0
i = 1
while i <= 100:
    sum += i
    if sum >= 800:
        break
    i += 1
print(i)
print(sum)

40
820

Tuple

In [78]:
## tuple은 수정&삭제가 불가능하다.

a = (1, "hello")
b = (3, 3.14)
c = a + b
d = a * 3

print(a, b, c, d)

(1, 'hello') (3, 3.14) (1, 'hello', 3, 3.14) (1, 'hello', 1, 'hello', 1, 'hello') (3, 3.14, 3, 3.14, 3, 3.14)

In [79]:
print(a[0])
print(a[1])

1
hello

In [83]:
a = (10, 20, 30, 40)

# (10, 20, 30) 출력
print(a[0:3])
print(a[:3])
print(a[:-1])

(10, 20, 30)
(10, 20, 30)
(10, 20, 30)

In [87]:
# (30, 40) 출력
print(a[2:4])
print(a[2:])
print(a[-2:])

(30, 40)
(30, 40)
(30, 40)

In [90]:
# (20, 30) 출력
print(a[1:3])
print(a[1:-1])

(20, 30)
(20, 30)

List

In [98]:
## list의 특징 --> 요소의 개수가 0개인 -> [] 빈 리스트 생성 가능

a = [20, 10, 40, 30]
b = [12, 99, 42, 55]

a.sort()        # 오름차순
b.reverse()     # 역순

print(a)
print(b)

[10, 20, 30, 40]
[55, 42, 99, 12]

In [99]:
del a[0]        # 삭제
b.append(22)    # 추가

print(a)
print(b)

[20, 30, 40]
[55, 42, 99, 12, 22]

In [100]:
a = [[10, 20], [30, 40], [50, 60]]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [101]:
print(a[2],[0])

[50, 60] [0]

Dictionary

In [102]:
## dict --> {key1 : value1, key2 : value2,... }

a = {"name" : "test", "age" : 20, "phone" : "01012345678"}
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [103]:
print(a["name"])

test

In [104]:
a["area"] = "Seoul"
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'Seoul'}

In [108]:
list(a.keys())

['name', 'age', 'phone', 'area']

In [105]:
a.values()

dict_values(['test', 20, '01012345678', 'Seoul'])

In [106]:
a.items()

dict_items([('name', 'test'), ('age', 20), ('phone', '01012345678'), ('area', 'Seoul')])

In [109]:
a["age"] = 30
print(a)

{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'Seoul'}

In [110]:
del(a["phone"])
print(a)

{'name': 'test', 'age': 30, 'area': 'Seoul'}

In [111]:
a = "Hello"
print(len(a))

5

In [113]:
a_len = len(a)

for i in range(0, a_len, 1) : 
    print(a[i] + "_", end="")

H_e_l_l_o_

In [114]:
b = "Hello World"

print(b.upper())
print(b.lower())
print(b.swapcase())
print(b.title())

HELLO WORLD
hello world
hELLO wORLD
Hello World

In [115]:
print(b)

Hello World

In [117]:
print(b.count("o"))

2

In [118]:
print(b.find("r"))

8

In [119]:
print(b.index("r"))

8

In [120]:
print(b.find("a"))

-1

In [122]:
print(b.index("a"))

ValueError: substring not found

In [123]:
a = "  Hello World  "

In [132]:
print(a)

  Hello World

In [131]:
a.lstrip()      # 왼쪽 공백 제거

'Hello World  '

In [129]:
a.rstrip()      # 오른쪽 공백 제거

'  Hello World'

In [130]:
a.strip()       # 양쪽 공백 제거

'Hello World'

In [133]:
a.replace("Hello", "Hi")

'  Hi World  '

In [135]:
b = "a, b, c, d"
b

'a, b, c, d'

In [136]:
b.split()

['a,', 'b,', 'c,', 'd']

In [138]:
a.replace(" ", "")

'HelloWorld'

In [139]:
def func_1(a, b) : 
    c = a + b
    return c

d = func_1(3, 6)
print(d)

9

In [140]:
print(func_1(10, 2))

12

1. func_2() 함수를 생성
2. 매개변수가 2개(a, b) 
3. 함수가 하는 행동 -> a부터 b까지의 합을 return
4. a와 b의 크기를 비교해서 a부터 b까지 아니면 b부터 a까지의 합으로 코드 변경

In [ ]:
'''
def func_2(a, b): 
    sum = 0
    for i in range(a, b+1, 1):              # 끝나는값까지 포합해야하기 때문에 +1을 해준다
        sum += i
    return sum
'''

In [178]:
def func_2(a, b): 
    sum = 0
    if (a > b):
        for i in range(b, a+1, 1):          # 끝나는값까지 포합해야하기 때문에 +1을 해준다
            sum += i
        return sum
    else:
        for i in range(a, b+1, 1):          # 끝나는값까지 포합해야하기 때문에 +1을 해준다
            sum += i
        return sum

In [179]:
c = func_2(1, 10)
print(c)

55

In [180]:
def func_4(a, b):
    sum = 0
    for i in range(min(a, b), max(a, b)+1, 1):          # 최솟값, 최댓값
        sum += i
    return sum

In [182]:
print(func_4(10, 1))
print(func_4(1, 10))

55
55