In [15]:
import mod1
import imp

imp.reload(mod1)

In [8]:
print(mod1.func_1(5,3))
print(mod1.func_2(5,3))
print(mod1.func_3(5,3))

8
2
15

In [9]:
from mod1 import func_1

In [10]:
print(func_1(4,3))

7

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame([[1,2], [3,4], [5,6]])

df

   0  1
0  1  2
1  3  4
2  5  6

In [16]:
mod = mod1.Data("test")

In [17]:
mod.func_4()

'Class에서 입력받은 data의 값은 test입니다.'

1. module 생성 (외부 파일 mod2)
2. 함수 1개 class 1개 생성
3. 함수는 매개변수 2개 _x, _y
4. _x부터 _y까지 숫자의 합 리턴
5. class __init__ 함수에서 매개변수 2개
6. class 내의 함수를 하나 생성
7. _a ** _b의 값을 리턴
8. module.ipynb에서 모듈을 로드하고 함수 실행
9. 클래스 선언 클래스 내에 있는 함수를 실행

In [34]:
import mod2
import imp

imp.reload(mod2)

In [35]:
print(mod2.func_10(1,10))               # mod2의 func_10() 함수

55

In [36]:
test = mod2.Class_10(2,3)               # mod2의 Class_10() 클래스

print(test.func_11())

8